# ---------- app ----------
APP_CONFIG__ENV=DEV
APP_CONFIG__LOGGING__LOG_LEVEL=DEBUG
APP_CONFIG__PROJECT_NAME=weather-fetcher-test
APP_CONFIG__BASE_URL=http://localhost:8000
APP_CONFIG__CORS_ORIGINS=["127.0.0.1", "localhost"]
APP_CONFIG__VERSION=0.1.0
APP_CONFIG__SECRET_KEY=44e450b75169ba9a0d7235bbb89f44a2ac3f793182e365232ac2b8cb15d68b1aßß

# ---------- postgres ----------
APP_CONFIG__DB__PORT=5458
APP_CONFIG__DB__HOST=localhost
APP_CONFIG__DB__USERNAME=postgres
APP_CONFIG__DB__PASSWORD=postgres
APP_CONFIG__DB__DATABASE=weather-fetcher-test
APP_CONFIG__DB__ECHO=False
APP_CONFIG__DB__ECHO_POOL=False

# ---------- auth ----------
APP_CONFIG__STRATEGY=jwt
APP_CONFIG__FIRST_SUPERUSER_EMAIL=superadmin@gmail.com
APP_CONFIG__FIRST_SUPERUSER_NAME=superadmin
APP_CONFIG__FIRST_SUPERUSER_PASSWORD=superadmin
APP_CONFIG__ACCESS_TOKEN__RESET_PASSWORD_TOKEN_SECRET=8cd1d69599a64729ad84d5c3522629c45f32b3385b11a6db824f86ea4f20e60a
APP_CONFIG__ACCESS_TOKEN__VERIFICATION_TOKEN_SECRET=196fdef6c8d60b930d6f71bc6b1bcfe8b623a3aa170a70649129f08321f1bb22



# ---------- cache ----------
APP_CONFIG__CACHE__PREFIX=weather-fetcher-test
APP_CONFIG__CACHE__TTL=60

# ---------- redis ----------
APP_CONFIG__REDIS__PORT=6379
APP_CONFIG__REDIS__HOST=localhost

# ---------- admin ----------
APP_CONFIG__ADMIN__LOGO_URL=http://localhost:9000/admin/admin/admin-logo.png
APP_CONFIG__ADMIN__FAVICON_URL=http://localhost:9000/admin/admin/admin-favicon.svg